.App {
  text-align: center;
}

/* rgb(116, 35, 38) */

/* LOGO */

.logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* NAVBAR */

.navbar {
  border-radius: 40px 0 40px 0;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.navbar-nav ul {
  border-radius: 12px;
}

.navbar-nav li {
  width: 100%;
}

.navbar-nav a {
  background-color: rgb(116, 35, 38);
}

.navbar-nav li #one {
  border-radius: 40px 0 0 0;
}

.navbar-nav li #five {
  border-radius: 0 0 40px 0;
}

.nav-item a:hover {
  background-color: rgb(148, 0, 0);
  transition: ease-in-out 0.5s;
}

.nav-item a {
  font-weight: 500;
  color: white !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(0, 0, 0);
}

.nav-link .active {
  color: rgb(0, 0, 0);
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  margin: 3px 0px 3px 0px;
  margin-left: auto;
  margin-right: 20px;
  transition: 0.5s ease-in-out;
}

.active {
  color: rgb(0, 0, 0);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3301a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(263deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.dropbtn {
  background-color: rgb(116, 35, 38);
  font-weight: 500;
  color: white;
  border: none;
  padding: 0.5em;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 0.5em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(148, 0, 0);
  transition: ease-in-out 0.5s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(148, 0, 0);
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

/* HOME */
.headerImg {
  width: 98.15%;
  margin-top: -48px;
  border-radius: 40px 0 0 0;
}

/* ABOUT US */
.about {
  margin: 20px;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  /* margin-top: 600px; */
  width: 100%;
  margin-bottom: 0.5rem;
}

.footer img {
  height: 80px;
  width: 25%;
}

@media screen and (max-width: 1399px) {
  .logo {
    width: 60%;
  }
  .headerImg {
    width: 97.9%;
  }
}

@media screen and (max-width: 1199px) {
  .headerImg {
    width: 97.45%;
  }
}

@media screen and (max-width: 991px) {
  .logo {
    width: 65%;
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar {
    background-color: rgb(116, 35, 38);
  }
  .dropdown-content a {
    background-color: rgb(146, 62, 62);
  }
  .headerImg {
    width: 100%;
    margin-top: -42px;
    border-radius: 40px 0 0 0;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    width: 80%;
  }
}
